body{
	font-family: 'Poppins', sans-serif !important;
	background: #000 !important;
	color: #fff !important;
	padding: 15px 20px;
}

a:hover {
    text-decoration: none !important;
	color: #fff !important;
}

.login-link p a:hover{
	color: #007bff !important;
}

.login-logo-banner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
   
}

.login-logo {
    width: 125px;
    margin: 0 auto;
}



.login-text {
    position: relative;
}

.login-text label {
    display: block;
    font-size: 12px;
	letter-spacing: 0.8px;
}

.login-text label i {
    margin-right: 7px;
}

input[type="text"], input[type="password"], input[type="number"] {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #242424;
    padding: 10px;
    font-size: 13px;
    margin-top: -12px;
    padding-bottom: 2px;
    background: #000;
    color: #fff;
}

input:focus {
    outline-width: 0;
}

.forget-link a {
	display: inline-block;
	color: #0289d0;
	font-size: 12px;
}

.forget-link a:hover {
	color: #0289d0 !important;
}

.forget-link a::after{
	content: '';
	display: block;
	border-bottom: 1px solid #0289d0;
	color: #0289d0;
}

.forget-link a:hover {
	color: #0289d0;
}

.login-btn {
    margin: 0 auto;
    width: 110px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.login-btn a {
    border: 1px solid #ffa300;
    background: #ffa300;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
}

.login-link {
    margin: 0 auto;
    width: 165px;
    font-size: 10px;
    margin-top: 20px;
}

.login-btn.visitors-btn {
    margin-top: 45px;
    width: 100px;
}

.login-text.visitors-text i {
    font-size: 22px;
	vertical-align: middle;
}

.login-text.visitors-text label {
    color: #c8c8c8;
    font-weight: 300;
}

.title {
	margin: 10px 0px;
	text-align: center;
	color: #c8c8c8;
}

.title h2 {
    font-size: 30px;
    font-weight: 400;
}

.login-text.vehicle-text label {
	color: #f6f6f6;
}

.login-btn.vehicle-btn {
	margin-top: 30px;
	width: 95px;
}

.login-btn.visit-btn {
	margin-top: 30px;
	width: 105px;
}

.login-text.visit-text label {
	font-size: 11px;
}

.title.para {
    padding: 0 5px;
    font-size: 18px;
    line-height: 25px;
}

.main-admin{
	width: 100%;
	display: flex;
}

.login-btn.admin-btn{
	width: 100%;
}

.title h5{
	font-size: 22px;
}

.check-banner{
	margin-top: 43px
}

.check-box{
	text-align: center;
}

.check-box .round{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: #fff;
	border-radius: 50%;
}

.check-box .round::after{
	content: "\f00c";
    font-family: 'fontawesome';
    margin-right: 0;
    color: #36790a;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    display: block;
}

.span-text {
    display: block;
    margin-top: 20px;
    font-size: 14px;
}

.span-text.success{
    margin-top: 25px;
}	

.check-box.pass-box p {
    font-size: 17px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 20px;
}

.pass-para {
	margin-top: 22px;
}

.login-btn.pass-btn {
	margin-top: 100px;
	width: 140px;
}

.login-btn.pass-btn a {
	border: 1px solid #ffa300;
	background: #ffa300;
	padding: 5px 21px;
	display: inline-block;
	border-radius: 30px;
	font-size: 13px;
	color: #fff;
}

.check-box.scan-box p{
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 20px;
}

.scan-para {
	margin-top: 22px;
}

.login-btn.scan-btn {
	margin-top: 45px;
	width: 93px;
}

.login-btn.scan-btn a {
	border: 1px solid #ffa300;
	background: #ffa300;
	padding: 5px 31px;
	display: inline-block;
	border-radius: 30px;
	font-size: 13px;
	color: #fff;
}

.check-box .close-box{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: #f63f25;
	border-radius: 50%;
}

.check-box .close-box::after{
	content: "\f00d";
    font-family: 'fontawesome';
    margin-right: 0;
    color: #fff;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    display: block;
}

.check-box.sorry-box p {
    font-size: 15px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 27px;
}

.sorry-para {
	margin-top: 22px;
}

.scan-img{
	margin: 0 auto;
	width: 190px;
	margin-bottom: 20px;
}

.spinner-border {
    width: 70px !important;
    height: 70px !important;
    vertical-align: inherit !important;
}

.check-box.wait-box p {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.check-box.wait-box .pass-para {
    margin-top: 30px;
}

.title.yesno {
    font-size: 15px;
    padding: 0 40px;
    color: #fff;
}

.login-banner.input-banner{
	margin-top: 20px;
}

.input-box {
	text-align: center;
}

/* The container */
.label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Hide the browser's default radio button */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: -45px;
    right: 0;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.label input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark::before {
  content: "";
  position: absolute;
  display: block;
}

/* Show the indicator (dot/circle) when checked */
.label input:checked ~ .checkmark::after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label .checkmark::after {
    top: 3.5px;
    left: -1px;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffa300;
}

.label .checkmark::before {
    top: 3.5px;
    left: -1px;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.login-btn.yesno-btn {
    margin-top: 45px;
    width: 95px;
}

.login-text .input-select{
	display: flex;
    align-items: center;
}

.sup{
    top: -2px;
}

.city {
    background: transparent;
    color: #fff;
    border: none;
    width: 100%;
    padding-right: 20px;
}

.city:focus {
	outline: 0px;
}
.input-select::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    top: 5px;
    right: 3px;
    z-index: -1;
    border-radius: 2px;
}

.city option {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}

.city option:focus {
    outline: 0;
}

.login-text .input-select i{
	margin-right: 1px;
}

			/*CSS Modal Start*/

#exampleModal{
	overflow: hidden;
}

.modal-dialog{
	display: flex;
    min-height: 100vh;
}

.modal-header{
	border: 0 !important;
}

.modal-body{
	color: #000;
	text-align: center;
}

.modal-content {
    height: 230px;
    margin: 57.5% 30px;
}

button.close:focus {
    outline: 0;
}

.modal-header .close {
    padding: 0 !important;
    margin: 0 auto !important;
    opacity: 1 !important;
    top: -40px;
    left: 0;
    right: 0;
    background: #d33;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
}

.close span {
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    margin: 0px auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
}

span.line {
    transform: rotate(45deg);
}

span.line-one {
    transform: rotate(-45deg);
}

.modal-text h4 {
	font-size: 25px;
}

.modal-text p {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}

.modal-text p:nth-child(2) {
	margin-top: 20px;
}

.modal-text p:nth-child(3) {
	margin-bottom: 20px;
}

.modal-text a {
    display: block;
    background: #d33;
    color: #fff;
    padding: 8px;
}
.content-md {
    color: #fff;
    background-color: #fff;
}
.content-ios {
    color: #fff;
    background-color: #fff;
}

			/*CSS Modal End*/