body{
	font-family: 'Poppins', sans-serif;
	background: #000;
	color: #fff;
	padding-bottom: 15px;
}

a:hover {
    text-decoration: none;
	color: #fff;
}

.red {
    color: #d33;
}

.green {
    color: #26a20a;
}

.yellow {
    color: #ffc15a;
}

.white {
    background: #fff;
}
.black-banner {
    background: #000;
}


        /* splash-page */

.splash-banner{
	background: #000;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    height: 100%;
}

.splash-logo {
    width: 125px;
}

.splash-logo img {
	width: 100%;
}

.splash-dote span{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #d3d3d3;
	margin: 2px 1px;
}

.splash-dote {
    margin: 0 auto;
    width: 60px;
	margin-top: 20px;
}

.splash-dote .active {
    background: #fff !important;
}

        /* splash-page */



		/*CSS Modal Start*/

#exampleModal{
    overflow: hidden;
}

.modal-dialog{
    display: flex;
    min-height: 100vh;
}

.modal-header{
    border: 0 !important;
}

.modal-body{
    color: #000;
    text-align: center;
    padding-top: 0;
}

.modal-content {
    height: 230px;
    margin: 57.5% 30px;
}

button.close:focus {
    outline: 0;
}

.modal-header .close {
    padding: 0 !important;
    margin: 0 auto !important;
    opacity: 1 !important;
    top: -40px;
    left: 0;
    right: 0;
    background: #d33;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
}

.close span {
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    margin: 0px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
}

span.line {
    transform: rotate(45deg);
}

span.line-one {
    transform: rotate(-45deg);
}

.modal-text h4 {
    font-size: 25px;
}

.modal-text p {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}

.modal-text p:nth-child(2) {
    margin-top: 20px;
}

.modal-text p:nth-child(3) {
    margin-bottom: 20px;
}

.modal-text a {
    display: block;
    background: #d33;
    color: #fff;
    padding: 8px;
}

            /*CSS Modal End*/


        /* Header Css Start */

header {
    background-color: #f0f0f0;
    padding: 10px 0px;
}

.link-nav {
    width: 50%;
}

ul.navbar-nav {
    margin-top: 15px;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    display: inline-block;
    font-size: 13px;
    transition: all ease-in-out 0.5s;
}

.nav-link {
    color: #000;
    display: inline-block;
    font-size: 13px;
    transition: all ease-in-out 0.5s;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #0cd98a;
}

.nav-item .nav-link:hover {
    color: #0cd98a;
}

.nav-item {
    margin: 10px 0px;
}

.nav-item img {
    width: 25px;
}

.navbar-toggler-icon {
    background: #000;
    height: 2px;
    display: block;
    padding: 0;
    margin: 5px 0;
}

.navbar-toggler-icon:nth-child(2) {
    width: 70%;
}

.navbar-dark .navbar-toggler {
    padding: 2px 7px;
    border: none;
	display: block;
}

a.nav-link.change-link {
    vertical-align: sub;
}

a.nav-link span {
    margin-right: 10px;
}

.navbar-dark .navbar-toggler:focus {
    outline: 0;
}

.btn-box {
    display: inline-block;
    width: 50%;
}

.btn-ball {
    width: 20px;
}

.btn-box a img {
    width: 22px;
}

.sign-btn {
    background: #fff;
    color: #d18e36;
    border: 1px solid #ee9b2e;
    border-radius: 50px;
    font-size: 12px;
    padding: 6px 15px;
    margin-left: 7px;
}

.sign-btn:hover {
    color: #d18e36;
}

.header__para {
    color: #f9c557;
    font-size: 11px;
}

.color-white {
    letter-spacing: 1px;
}

        /* Header Css End */


/**********navgation-right-bar-css***************************/

.sidenavRaj {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    height: 100%;
    width: 0;
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.sidenavRaj--rightbar {
    right: 0;
    left: inherit;
}

.mob-navbaar {
    list-style: none;
    width:100%;
    background-color: #fff;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.mob-navbaar__list {
    padding: 0px 0px 0;
    width: 100%;
    line-height:45px;
    list-style: none;
    display: inline-block;
}

.mob-navbaar__link {
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.mob-navbaar__social-box{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ececec;
    background: #fff;
}

.mob-navbaar__social-link {
    width: 23%;
    display: inline-block;
    text-align: center;
}

.mob-navbaar__social-icon{
    margin-right: 0px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #000;
    line-height: 54px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.link {
    background: #000;
    display: flex;
    height: 45px;
    padding: 5px 0;
    padding-left: 15px;
    overflow: hidden;
}

.nav-close {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-close img {
    width: 70%;
}

.text-box {
    width: 60%;
    text-align: center;
    font-size: 12px;
}

/**********navgation-right-bar-css***************************/

        /* input */

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #242424;
    padding: 10px;
    font-size: 13px;
    margin-top: -12px;
    padding-bottom: 2px;
    background: #000;
    color: #fff;
}

textarea {
    margin-top: 0px;
	padding-bottom: 7px;
}

input:focus, textarea:focus {
    outline-width: 0;
}

        /* input */

        /* logo-banner */

.logo-banner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    height: 100%;
}

        /* logo-banner */

        /* logo */

.login-logo {
    width: 125px;
    margin: 0 auto;
}

        /* logo */

.login-banner {
    margin-top: 20px;
}

.login-text {
    position: relative;
}

.login-text label {
    display: block;
    font-size: 12px;
	letter-spacing: 0.8px;
	margin-bottom: 0;
}

.login-text label i {
    margin-right: 7px;
}

.forget-link a {
	display: inline-block;
	color: #0289d0;
	font-size: 12px;
}

.forget-link a:hover {
	color: #0289d0 ;
}

.forget-link a::after{
	content: '';
	display: block;
	border-bottom: 1px solid #0289d0;
	color: #0289d0;
}

.forget-link a:hover {
	color: #0289d0;
}

.login-box {
    margin: 0 auto;
/*    width: 110px;*/
	text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.login-link {
    margin: 0 auto;
    width: 165px;
    font-size: 10px;
    margin-top: 20px;
}

.login-btn {
	border: 1px solid #ffa300;
	background: #ffa300;
	padding: 5px 30px;
	display: inline-block;
	border-radius: 30px;
	font-size: 13px;
	color: #fff;
}
		/* Dasbord-css Start */

.table-para {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    letter-spacing: 0.8px;
    margin-bottom: -2px;
    padding-right: 25px;
    font-weight: 600;
}

.table-para p {
    margin-bottom: 0;
}

.table-banner {
    margin-top: -25px;
}

.table-title {
/*    padding-left: 18px;*/
    margin-bottom: 16px;
	letter-spacing: 0.8px;
}

.table-responsive {
    overflow-x: hidden;
	overflow-y: scroll;
    border: solid 1px #eeeeee;
}

/* .table-responsive.table-height {
	height: 293px;
} */

.table {
    color: #fff;
    margin-bottom: 0px;
}

.table thead th {
    border-top: none;
    padding: 4px 0px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    background: #6d552d;
    border-bottom: 1px solid #dee2e6;
}

tr th:first-child {
    border-right: 1px solid #d3d3d3;
}

tr th:nth-child(2) {
    border-right: 1px solid #d3d3d3;
}

tr th:nth-child(3) {
    border-right: 1px solid #d3d3d3;
}

tr th:nth-child(5) {
    border-left: 1px solid #d3d3d3;
}

tr th:last-child {
    border-right: none;
}

.table tr td {
    padding: 5px 0px;
    text-align: center;
    font-size: 11px;
}

tr td:first-child {
    border-right: 1px solid #d3d3d3;
}

tr td:nth-child(2) {
    border-right: 1px solid #d3d3d3;
}

tr td:nth-child(3) {
    border-right: 1px solid #d3d3d3;
}

tr td:nth-child(5) {
    border-left: 1px solid #d3d3d3;
}

tr td:last-child {
    border-right: none;
}

		/* Dasbord-css End */

		/* Visitor-css Start */

.login-text.visitors-text label {
    color: #c8c8c8;
    font-weight: 300;
}

.login-text.visitors-text i {
    font-size: 22px;
    vertical-align: middle;
}
		/* Visitor-css End */

		/* Pleasewait-css Start */

.check-banner {
    margin-top: 30px;
}

.spinner-border {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: inherit;
    animation: spinner-border .99s linear infinite;
    border: 4px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}

.wait-box .pass-para {
    margin-top: 30px;
}

.wait-box p {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 20px;
}

		/* Pleasewait-css End */

		/* visitor-From-css Start */

.form-box {
/*    background: #fff;*/
    padding: 15px 0;
}

.form-control {
    display: flex;
    align-items: center;
    padding-right: 0;
    margin: 12px 0px;
	background: transparent;
}

.addressbar {
	height: auto;
}

.addressbar textarea {
	border: none;
}

.form-box input {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 0px 10px 0px;
    font-size: 12px;
    margin-top: 0px;
    background: transparent;
    color: #fff;
}

.form-control .fa-mobile {
    font-size: 22px;
    margin-left: 3px;
}

.upload-box .form-control {
    color: #fff;
	color: #8e9296;
	font-size: 12px;
}

.upload-img .form-control {
    width: 35px;
    margin: 0 auto;
}

.form-control .upload-title {
	padding: 0px 10px 4px;
}

.upload-img img {
    width: 100%;
}

.upload-title p {
    margin-bottom: 0;
}

.profile-btn {
    display: block;
    width: 100%;
    background: #ffa300;
    color: #fff;
    margin-top: 10px;
}

		/* visitor-From-css End */

		/* visitor-From-css Start */

.check-box .round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
}

.check-box .round img {
    width: 60%;
}

.scan-para {
    margin-top: 22px;
    margin-bottom: 0;
}

.check-box p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
}

.scan-para.registration {
    font-size: 13px;
}

		/* visitor-From-css End */

		/* distination-css Start */

.title {
    margin: 10px 0px;
    text-align: center;
    color: #c8c8c8;
}

.title h2 {
    font-size: 25px;
    font-weight: 400;
}

.title h5 {
    font-size: 22px;
}

.login-text.visit-text label {
    font-size: 11px;
}

		/* distination-css End */

		/* notification-css Start */

tr td.accept-btn {
	vertical-align: middle;
}

.accept-btn .btn {
	padding: 1px 6px;
	font-size: 11px;
	color: #fff;
}

.accept-btn .btn.bg-success {
	margin-right: 15px;
}

		/* notification-css End */

		/* vip-css Start */


.vip-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vip-title h6 {
    margin-bottom: 0px;
    margin-top: 1px;
}

.vip-title .login-btn {
	padding: 4px 15px;
    font-size: 11px;
	letter-spacing: 0;
}

/*
tr td span, tr td a {
    display: block;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}*/

.table-box {
    list-style: none;
    margin-bottom: 0;
	width: 100%;
	display: table;
    padding: 0px 15px;
	border-bottom: 1px solid #fff;
}

.table-box li {
    display: inline-block;
    font-size: 10px;
	margin: 5px 0px;
}

.list-width {
	width: 60%;
}

.list-box {
	width: 40%;
}

.table-box .mobile {
	width: 100%;
}

.table-box li p {
    margin-bottom: 0px;
	display: inline-block;
}

.table-box li b {
    font-size: 11px;
}

.table-box p.email-text {
    width: 75%;
    white-space: normal;
    overflow-x: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.para-img {
	display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #fff;
/*    border-radius: 50%;*/
}

		/* vip-css Start */

		/* profile-css Start */

.profile-close {
	display: block;
    width: 26px;
}

.profile-box {
    display: flex;
    align-items: center;
	margin-top: 5px;
	justify-content: space-between;
	margin-right: 30px;
    color: #000;
}

.show-text p {
    font-size: 15px;
    margin: 10px 0px;
}

.show-text p span {
    margin: 0 3px;
    display: inline-block;
}

.show-text {
    color: #000;
	padding-left: 0;
	list-style: none;
}

.show-text li {
    display: flex;
}

.btn-info {
    color: #ffffff;
    background-color: #29b6f6;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    outline: 0;
    background-image: none;
    white-space: nowrap;
    padding: 5px 7px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.nav-link span .fa {
    font-size: 25px;
    vertical-align: middle;
}
.iconic-w-wrap {
    margin-bottom: 15px;
    border: #cecece 1px solid;
    padding: 7px;
    display: flex;
}

.main-img {
    margin-right: 20px;
}
.iconic-w-wrap .w-meta-info {
    padding: 5px 0px;
}
.w-meta-info .w-meta-value.number-animate.bold {
    font-size: 18px;
    font-weight: 700;
}
.w-meta-info .w-meta-value {
    font-size: 13px;
    font-weight: 400;
}
.w-meta-info > span {
    display: block;
}
		/* profile-css End */